body{
    background-color: rgb(53, 76, 107);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
}

#add{
    color: white;
    background-color: #2e0e3a;
}


#mov{
    color: rgb(255, 255, 255);
    background-color: #2e0e3a;
    margin-left: 20%;
    margin-right: 20%;

}
