<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add movie</title>
  </head>
  <body>

    <h1>Add a movie</h1>
    <form action="/add-movie/" method="get">
      Title<input type="text" name="title"  value="{{title}}"><br>
      Year <input type="text" name="year" value="{{year}}"><br>
      Actors names <input type="text"  name="actors" value="{{actors}}"><br>
      Plot <input type="text" name="plot" value="{{plot}}"><br>
      Link to poster <input type="text" name="poster" value="{{poster}}"><br>
      <input type="submit" name="" value="Add">
    </form>

  </body>
</html>
